
.formulario {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }

body {
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  .contenedorP{
    width: 100%;
    text-align: center;
    margin: 10px;
    background-color: cadetblue;
    color: #fff;
  }
  

  .formulario {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: auto;
    padding: 15px;
  }

  .titleFor{
    text-align: center;
    padding: 10px; 
    
  }

  .campo{
    margin-bottom: 15px;
  }

  label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
  }

  input{
    width: 95%;
    height: auto
  }

